html {
  overflow-y: scroll;
  font-size:62.5%;
}
body {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Noto Sans CJK JP","メイリオ","HiraginoKaku","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3",YuGothic,"Yu Gothic","游ゴシック", Osaka,"ＭＳ Ｐゴシック" ,sans-serif;
  word-break: normal;
  word-wrap: break-word;
}

.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}

.reveal.slide.center.ready > div.backgrounds > div:nth-child(2){
 background-color: red;
}
