.reveal{
 font-size: 1.6rem;
 font-weight: 400;
 font-family: "Noto Sans CJK JP","メイリオ","HiraginoKaku","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3";
 word-break: normal;
 word-wrap: break-word;
}

.reveal .noto{
  font-family: "Noto Sans CJK JP";
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  white-space: nowrap;
}

.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}

.reveal ul li{
  white-space: nowrap;
}

.reveal.slide.center.ready > div.backgrounds > div:nth-child(1){
}

.reveal.slide.center.ready > div.backgrounds > div:nth-child(2){
}

.reveal.slide.center.ready > div.backgrounds > div:nth-child(3){
}

.reveal.slide.center.ready > div.backgrounds > div:nth-child(4){
}

.reveal.slide.center.ready > div.backgrounds > div:nth-child(5){
}

.reveal.slide.center.ready > div.backgrounds > div:nth-child(6){
}

.reveal.slide.center.ready > div.backgrounds > div:nth-child(7){
}

.reveal.slide.center.ready > div.backgrounds > div:nth-child(8){
}
