@import url('https://afeld.github.io/emoji-css/emoji.css');
.reveal{
 font-size: 1.6rem;
 font-weight: 400;
 font-family: "Noto Sans CJK JP","メイリオ","HiraginoKaku","Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3";
 word-break: normal;
 word-wrap: break-word;
}

.reveal .noto{
  font-family: "Noto Sans CJK JP";
}
.reveal .fc_white{
  color: #fff;
}

.reveal .fs_3{
  font-size: 3em;
}

.reveal .bold{
  font-weight: 900;
}

.reveal .ta_center{
  text-align: center;
}

.reveal .ls_none{
  list-style-type: none;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  text-transform: none;
  white-space: nowrap;
  font-family: "Noto Sans CJK JP";
}

.reveal .slides {
    text-align: left;
}
.reveal .slides section>* {
    margin-left: 0;
    margin-right: 0;
}

.reveal ul li{
  white-space: nowrap;
}

.reveal > .backgrounds > div:nth-child(1){
}

.reveal > .backgrounds > div:nth-child(2){
}
.reveal > .backgrounds > div:nth-child(3){
  background-color: #0084ff
}
.backgrounds > div:nth-child(4){
  background-color: #0084ff
}
.reveal > .backgrounds > div:nth-child(5){
  background-color: #0084ff
}
.reveal > .backgrounds > div:nth-child(6){
  background-color: #0084ff
}
.reveal > .backgrounds > div:nth-child(7){
  background-color: #f0a30a
}
.reveal > .backgrounds > div:nth-child(8){
  background-color: #f0a30a
}
.reveal > .backgrounds > div:nth-child(9){
  background-color: #f0a30a
}
.reveal > .backgrounds > div:nth-child(10){
  background-color: #f0a30a
}
.reveal > .backgrounds > div:nth-child(11){
  background-color: #f0a30a
}
.reveal > .backgrounds > div:nth-child(12){
}
.reveal > .backgrounds > div:nth-child(13){
}
.reveal > .backgrounds > div:nth-child(14){
}
.reveal > .backgrounds > div:nth-child(15){
}
.reveal > .backgrounds > div:nth-child(16){
}
.reveal > .backgrounds > div:nth-child(17){
}
.reveal > .backgrounds > div:nth-child(18){
}
.reveal > .backgrounds > div:nth-child(19){
}
.reveal > .backgrounds > div:nth-child(20){
}
.reveal > .backgrounds > div:nth-child(21){
}
.reveal > .backgrounds > div:nth-child(22){
}
.reveal > .backgrounds > div:nth-child(23){
}
.reveal > .backgrounds > div:nth-child(24){
}
.reveal > .backgrounds > div:nth-child(25){
}
.reveal > .backgrounds > div:nth-child(26){
}
.reveal > .backgrounds > div:nth-child(27){
 background-color: #aa00ff
}
.reveal > .backgrounds > div:nth-child(28){
 background-color: #aa00ff
}
.reveal > .backgrounds > div:nth-child(29){
 background-color: #aa00ff
}
.reveal > .backgrounds > div:nth-child(22){
}
.reveal > .slides > section:nth-child(8) ul li{
 color: #fff;
}
.reveal > .slides > section:nth-child(9) ul li{
 color: #fff;
}
.reveal > .slides > section:nth-child(10) ul li{
 color: #fff;
}
.reveal > .slides > section:nth-child(11) ul li{
 color: #fff;
 list-style: none;
 font-size: 2.4em;
}
.reveal > .slides > section:nth-child(22) ul li{
 color: #fff;
 list-style: none;
 font-size: 2.2em;
}
.reveal > .slides > section:nth-child(28) ul li{
 list-style: none;
 font-size: 2.4em;
}
